<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3"  (click)="NavToList()" href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head"> Modifier Candidat</mat-card-title>
      </div>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="updateCandidat">
      <nb-card>

        <nb-card-body>
          <div class="text-left">
            <div class="col-4 d-inline-block">


              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['nom']" formControlName="nom" required placeholder="Nom">
                  <mat-error *ngIf="nom.invalid">{{ formErrors.required }}</mat-error>

                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['prenom']" formControlName="prenom" required placeholder="Prénom">
                  <mat-error *ngIf="prenom.invalid">{{ formErrors.required }}</mat-error>

                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="this.candidatUpdated['email']"  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" formControlName="email" required placeholder="email">
                  <mat-error *ngIf="userForm.get('email').hasError('required')"
                  >format email doit etre valid </mat-error
                  >

                </mat-form-field>
              </div>



              <div>
                <mat-form-field>
                  <input matInput type="number" [(ngModel)]="this.candidatUpdated['tel']"

                         formControlName="tel" required placeholder="Télephone">

                  <mat-error *ngIf="userForm.get('tel').hasError('minLength') ||
                  userForm.get('tel').hasError('maxLength') ||
                     userForm.get('tel').hasError('required')
                "
                  > le telephone doit etre un nombre  </mat-error
                  >
                </mat-form-field>
              </div>



              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['ecole']"
                         formControlName="ecole" required placeholder="ecole">

                  <mat-error *ngIf="ecole.invalid">{{ formErrors.required }}</mat-error>

                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput  type="number" [(ngModel)]="this.candidatUpdated['experience']" formControlName="experience" required placeholder="Expérience">
                  <mat-error *ngIf="userForm.get('experience').hasError('minLength') ||
                  userForm.get('experience').hasError('maxLength') ||
                     userForm.get('experience').hasError('required')
                "
                  > l'experience doit etre un nombre  </mat-error
                  >
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput type="number" min="0" max="2" [(ngModel)]="this.candidatUpdated['niveau']" formControlName="niveau" required placeholder="Niveau">
                  <mat-error *ngIf="userForm.get('niveau').hasError('min') ||
                  userForm.get('niveau').hasError('max') ||
                     userForm.get('niveau').hasError('required')
                "
                  > le niveau doit etre un nombre </mat-error
                  >
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="this.candidatUpdated['profil']"  formControlName="profil"
                         required placeholder="Profil">

                  <mat-error *ngIf="profil.invalid">{{ formErrors.required }}</mat-error>

                </mat-form-field>
              </div>



              <mat-form-field class="input-width" >
                <input matInput  [(ngModel)]="this.candidatUpdated['dateDebot']"  formControlName="dateDebot"   [matDatepicker]="picker1" placeholder="Date de Débot de test">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

            </div>

            <div class="row">
              <div class="col">
                <mat-spinner *ngIf="this.IsWait"></mat-spinner>
              </div>

            </div>
          </div>



        </nb-card-body>


        <nb-card-footer>
          <div class="text-left">
            <button mat-raised-button  class=" m-2" color="warn">Enregistrer</button>

            <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>
          </div>

        </nb-card-footer>
      </nb-card>



    </form>
  </mat-card>
</div>
