<div class="row">
  <div class="col-6">
    <h3  style="color:#2a5788;">Affectation Question Au Test {{this.nameTest}}</h3>

  </div>
  <div class="col-6 ">
    <button class="float-lg-right mr-3"
            mat-raised-button color="primary" (click)="this.affecterQuestionTest()"  >Affecter Question</button>
  </div>

</div>
<br>
<mat-card>
  <mat-card-header>
    <div>
      <!--keyboard_backspace-->
      <a class="d-inline-block mr-3" routerLink="../../test" href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
    </div>
    <form class="" >
      <div class="row">
        <div class="col-3 ">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Recherche par nom/Theme"  matInput [(ngModel)]="searchText" [formControl]="myControl" class="advancedSearchTextbox">
            <mat-icon matSuffix>search</mat-icon>

          </mat-form-field>
        </div>
      </div>

    </form>


  </mat-card-header>



  <mat-card-content *ngIf="this.listQuestion.length === 0 ">
    <div class="center-data" >
      <img src="../../../../assets/img/nodata-found.png">
      <h1>data Not found</h1>
    </div>
  </mat-card-content>
  <div class="row">
    <div class="col">
      <mat-spinner *ngIf="this.IsWait"></mat-spinner>
    </div>

  </div>


  <mat-accordion *ngIf="!!this.listQuestion">
    <div *ngFor="let q of this.listQuestion | grdFilter: {desgnQuestion:searchText,theme:searchText}; let i=index;" >
      <mat-expansion-panel    [hideToggle]="true">
        <mat-expansion-panel-header  [collapsedHeight]="'auto'" [expandedHeight]="'auto'">


            <button type="button" style="height:36px;width:82px" class="btn btn-warning">{{q.theme}}</button>

          <mat-checkbox [(ngModel)]="q.checked"
                        [disabled]="q.disabled"
                        (change)="list_change()" color="primary"
                         >

          </mat-checkbox>

          <mat-panel-title>
            <div class="row">
            <div class="col-12">
              {{q.desgnQuestion}}
            </div>

            </div>


          </mat-panel-title>
          <mat-panel-description class="mt-2">


          </mat-panel-description>

          <div>
            <!--routerLink="../modifier-tes/{{test.idTest}}"-->
            <a href="javascript:void(0)" >  <mat-icon  aria-hidden="false" (click)="NaToUpdateQuestion(q.idQuestion)"   aria-label="Example home icon">edit</mat-icon>
            </a>

            <a href="javascript:void(0)">  <mat-icon (click)="deleteDialog(q.idQuestion)" aria-hidden="false" color="warn" aria-label="Example home icon">delete</mat-icon>
            </a>



          </div>

        </mat-expansion-panel-header>
        <mat-divider ></mat-divider>


        <div class="container-fluid  mt-4">
          <div class="row" >
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Theme" disabled value="{{q.theme}}">
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="TempsQuestion" disabled value="{{q.tempsQuestion}}">
              </mat-form-field>
            </div>


          </div>

          <div class="row" >
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="unite" disabled value="{{q.unite}}">
              </mat-form-field>
            </div>


          </div>
        </div>



      </mat-expansion-panel>


    </div>

  </mat-accordion>








</mat-card>
