

<html>

<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.positronx.io" target="_blank" class="positronx">E-Testing</a></div>

</mat-toolbar>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<mat-card>
  <div class="main-div2">


  <form [formGroup]="loginForm" (ngSubmit)="login()" >
    <h2 style="color:  #4d3fbd !important;" class="text-center font-header mb-2 font-weight-bold ">
      Bienvenue sur E-Testing Plateforme</h2>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>

      <mat-error
        *ngIf="!loginForm.get('username').hasError('required') ">
        Champ obligatoire !!!!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Password </mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error  *ngIf="!loginForm.get('password').hasError('required') ">
        Champ obligatoire !!!!
      </mat-error>
    </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label> Role </mat-label>
        <mat-select  (selectionChange)="RoleSelected($event)" >
          <mat-option *ngFor="let role of this.listRole"  [value]="role" >
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <div class="row">
      <div class="col">
        <mat-spinner *ngIf="this.IsWait"></mat-spinner>
      </div>

    </div>


<div class="row">
  <div class="col-3">
    <button mat-raised-button color="primary" class="btn btn-primary" aria-label="LOGIN"
            [disabled]="loginForm.invalid">
      Connexion
    </button>
  </div>

  <div class="col-9">
    <button mat-raised-button (click)="annuler()"  class="btn btn-danger"
           >
      Annuler
    </button>
  </div>

</div>

    <div *ngIf="this.statErreur">
      <p class="text-danger">erreur de conexion voulez  vérifier vos information  !!</p>
    </div>
  </form>
  </div>
</mat-card>

</body>
</html>
<!--
<mat-card>

  <div style="color:  #4d3fbd !important;" class="text-center font-header mb-2 font-weight-bold ">
    Bienvenue sur E-Testing</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-pulse"
               [fullScreen] = "true"><p style="color: white" >
    Connexion en cours... </p></ngx-spinner>
  <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-icon matSuffix class="secondary-text">mail</mat-icon>

      <mat-error
        *ngIf="!loginForm.get('username').hasError('required') ">
      Champ obligatoire !!!!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Password </mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error  *ngIf="!loginForm.get('password').hasError('required') ">
        Champ obligatoire !!!!
      </mat-error>
    </mat-form-field>


    <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
         fxLayoutAlign="space-between center">


    </div>
    <button mat-raised-button color="primary" class="submit-button w-100" aria-label="LOGIN"
            [disabled]="loginForm.invalid">
      Connexion
    </button>
  </form>

</mat-card>



<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form" name="loginForm"
          [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput  formControlName="username"placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput formControlName="password" placeholder="Password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>
-->
