<nav class="navbar navbar-dark bg-primary">
  <h4>
    Nouveau Mail
  </h4>


</nav>
<div class="container-fluid">
  <form name="composeForm"  (ngSubmit)="sendMail()" [formGroup]="composeForm" class="compose-form" fxLayout="column" fxFlex>

    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <input  matInput name="from"
                 formControlName="from"
                 type="email">
        </mat-form-field>


      </div>
    </div>
    <div class="row">
      <div class="col-6">

        <mat-form-field appearance="outline">
          <mat-label>To</mat-label>
          <input [(ngModel)]="this.emailc" matInput name="to" required
                 formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                 type="email" required>

          <mat-error *ngIf="email.invalid"
          >format email doit etre valid </mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input required  matInput name="name" [(ngModel)]="this.namec"
                 formControlName="name">
          <mat-error *ngIf="name.invalid">{{formErrors.required}}</mat-error>

        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Subject</mat-label>
          <input required  matInput name="subject"
                 formControlName="subject">
          <mat-error *ngIf="subject.invalid">{{formErrors.required}}</mat-error>

        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <textarea required  matInput name="message"
                    formControlName="message"
                    rows="6" value="vous invite pour ">
                </textarea>
          <mat-error *ngIf="message.invalid">{{formErrors.required}}</mat-error>

        </mat-form-field>

      </div>

    </div>
    <div class="row">
      <div class="col">
        <mat-spinner *ngIf="this.IsWait"></mat-spinner>
      </div>

    </div>



    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <button mat-raised-button
                color="accent"
                class="save-button"
                aria-label="SAVE">
          Envoyer
        </button>

      </div>
      <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>

    </div>
  </form>
</div>
