<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.creative-tim.com">

                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">

                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">

                    </a>
                </li>
            </ul>
        </nav>

    </div>
</footer>
