
<div class="row">
<div class="col-6">
  <h2 style="color:#2a5788;">Liste des Tests </h2>

</div>
  <div class="col-6 ">
    <button class="float-lg-right mr-3"  (click)="navAddTest()" mat-raised-button color="primary" >Ajouter  Test</button>
  </div>
  <!--hamzoun ammar bn-->


</div>
<br>

<mat-card >
  <mat-card-header>
    <form class="col-6 float-left" >

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Recherche par Theme"   [(ngModel)]="this.searchText"  matInput [formControl]="myControl" class="advancedSearchTextbox">
        <mat-icon matSuffix>search</mat-icon>



      </mat-form-field>


    </form>


  </mat-card-header>



  <mat-card-content *ngIf="this.ListTest.length  === 0 ">
    <div class="center-data" >
      <img src="../../../../assets/img/nodata-found.png">
      <h1>data Not found</h1>
    </div>
  </mat-card-content>


  <mat-accordion *ngIf="!!this.ListTest" displayMode="flat" multi class="mat-table">


    <div *ngFor="let test of this.ListTest   | grdFilter: {theme:searchText,typeTest:searchText,dateDebut:searchText}; let i=index;">
      <mat-expansion-panel    [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="align-content-center mt-2">
            {{test.theme}}
          </div>

          </mat-panel-title>
          <mat-panel-description   class="mt-2">
            <p class="text-info">{{test.typeTest}}<p>
          </mat-panel-description>
          <div>
            <a href="javascript:void(0)" ><mat-icon  aria-hidden="false" (click)="affecterTest(test.theme)" routerLink="../list-question-select/{{test.idTest}}" color="primary" aria-label="Example home icon"> list</mat-icon>
            </a>

            <a href="javascript:void(0)" ><mat-icon  aria-hidden="false"  routerLink="../simulerTest/{{test.idTest}}" color="primary" aria-label="Example home icon"> play_circle_filled</mat-icon>
            </a>

            <a href="javascript:void(0)" ><mat-icon  aria-hidden="false" (click)="goTotestQuestion(test.theme)" routerLink="../question-test/{{test.idTest}}" color="primary" aria-label="Example home icon">contact_support</mat-icon>
            </a>

            <a href="javascript:void(0)" >  <mat-icon  aria-hidden="false" routerLink="../modifier-test/{{test.idTest}}"  aria-label="Example home icon">edit</mat-icon>
            </a>

            <a href="javascript:void(0)">  <mat-icon (click)="deleteDilaog(test.idTest)" aria-hidden="false" color="warn" aria-label="Example home icon">delete</mat-icon>
            </a>

          </div>


        </mat-expansion-panel-header>
        <mat-divider ></mat-divider>


        <div class="container-fluid  mt-4">

          <div class="row" >
            <div class="col">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Date debut " disabled value="{{test.dateDebut}}">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Date Fin " disabled value="{{test.dateFin}}">
                </mat-form-field>
            </div>

            </div>
            <div class="row" >
              <div class="col">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Description" disabled value="{{test.description}}">
                  </mat-form-field>
              </div>


              </div>
        </div>



        </mat-expansion-panel>


      </div>

    </mat-accordion>









</mat-card>
