

<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3"   href="javascript:void(0)" (click)="NavtoListQuestion()"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head">Modifier Question</mat-card-title>
      </div>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="updateform">
      <nb-card>

        <nb-card-body>
          <div class="text-left">
            <div class="col-4 d-inline-block">



              <div>
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="this.desgnQuestions"
                         formControlName="desgnQuestion" required placeholder="desgnQuestion">

                  <mat-error *ngIf="desgnQuestion.invalid">cette champs est obligatoire</mat-error>



                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput
                         type="number"  formControlName="tempsQuestion" value="acune valeur"
                         [(ngModel)]="this.tempsQuestions"
                         required placeholder="TempsQuestion ">
                  <mat-error *ngIf="tempsQuestion.invalid">cette champs doit etre  Numérique</mat-error>

                </mat-form-field>
              </div>
<!--
[(ngModel)]="this.Question['desgnQuestion']"
              [(ngModel)]="this.Question['tempsQuestion']"
              [(ngModel)]="this.Question['theme']"
              matInput [(ngModel)]="this.Question['unite']"

              -->
              <div>
                <mat-form-field>
                  <input matInput  formControlName="theme"  matInput  [(ngModel)]="this.themes"
                         required placeholder="Theme">
                  <mat-error *ngIf="theme.invalid">cette champs est obligatoire</mat-error>

                </mat-form-field>
              </div>



              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="this.unites"
                         formControlName="unite" required placeholder="Unité" >
                 <mat-error *ngIf="unite.invalid">cette champs est obligatoire </mat-error>
                </mat-form-field>
              </div>


            </div>
          </div>



        </nb-card-body>


        <nb-card-footer>
          <div class="text-left">
            <button mat-raised-button  class=" m-2" color="warn">Enregistrer</button>

            <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>
          </div>

        </nb-card-footer>
      </nb-card>



    </form>
  </mat-card>
</div>
