<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="../../../../assets/img/medianet.PNG" alt="...">
            <h5 class="title">MediaNet</h5>
          </a>
        </div>
        <p class="description text-center">
          Modifier mon Profil
        </p>
      </div>
      <div class="card-footer">
        <hr>

      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="updateUser">

        <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Company (disabled)</label>
                <input type="text" class="form-control"   disabled="" placeholder="Medianet" value="Creative Code Inc.">
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" [(ngModel)]="this.username" formControlName="username"
                       placeholder="Username" value="michael23"
                       [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                >
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback"

                >
                  <div *ngIf="f.firstname.errors.required">username est obligatoire</div>
                </div>
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Firstname</label>
                <input type="text" class="form-control"  [(ngModel)]="this.user.firstname"
                       formControlName="firstname"
                       placeholder="Firstname" value="michael23"
                       [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
                >
                <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                  <div *ngIf="f.firstname.errors.required">nom est obligatoire</div>
                </div>
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Prenom</label>
                <input type="text" class="form-control" [(ngModel)]="this.user.lastname"
                       formControlName="lastname" placeholder="Prenom" value="michael23"
                       [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
                >

                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                  <div *ngIf="f.lastname.errors.required">prenom est obligatoire</div>
                </div>
              </div>
            </div>


            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label >Email addresse</label>
                <input type="text" [(ngModel)]="this.user.email"
                       pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                       formControlName="email" class="form-control" placeholder="Email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email est obligatoire et valide </div>
                  <div *ngIf="f.email.errors.email">Email doit etre valide verifier le </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" [(ngModel)]="this.user.useradresse"
                       formControlName="useradresse" placeholder=" Address"
                       [ngClass]="{ 'is-invalid': submitted && f.useradresse.errors }"
                >
                <div *ngIf="submitted && f.useradresse.errors" class="invalid-feedback">
                  <div *ngIf="f.useradresse.errors.required">Email est obligatoire </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>UserTel</label>
                <input type="number" class="form-control" [(ngModel)]="this.user.usertel"
                       formControlName="usertel" placeholder="Telephone" value=""
                       [ngClass]="{ 'is-invalid': submitted && f.usertel.errors }"
                >
                <div *ngIf="submitted && f.usertel.errors" class="invalid-feedback">
                  <div *ngIf="f.usertel.errors.required">Email est obligatoire </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" type="password"  formControlName="password"
                       required   formControlName="password" placeholder="Mot Passe"
                       >
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">mot passe est obligtoire</div>
                  <div *ngIf="f.password.errors.minlength">Password doit etre de  6 characters</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button  type="submit" class="btn btn-primary btn-round">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
