
<nav class="navbar navbar-dark bg-primary">
  <h5 style="color:#2a5788;">Affecter Test aux candidat :{{this.name}} {{this.prenom}} </h5>



</nav>


<div class="container-fluid">

  <form (ngSubmit)="affecterCandidat()" [formGroup]=" affecterFormCandidat">
    <nb-card>

      <nb-card-body>
        <div class="text-left">
          <div class="col-4 d-inline-block">

            <div>
              <mat-form-field>
                <mat-label> Test </mat-label>
                <mat-select  (selectionChange)="testSelected($event)" >
                  <mat-option *ngFor="let test of this.listTest"  [value]="test.idTest" >
                    {{test.theme }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <mat-form-field class="input-width" >
              <input matInput  formControlName="dateDebut"  [matDatepicker]="picker1" placeholder="Date de debut du test">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="dateDebut.invalid">cette Champ est obligatoire</mat-error>

            </mat-form-field>


            <mat-form-field class="input-width" >
              <input matInput  formControlName="dateFin"  [matDatepicker]="picker2" placeholder="Date de fin de test	">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="dateFin.invalid">cette Champ est obligatoire</mat-error>

            </mat-form-field>










          </div>


        </div>




      </nb-card-body>


      <nb-card-footer>
        <div class="text-left">
          <button mat-raised-button  class=" m-2" color="warn">Affecter Candidat</button>

          <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>
        </div>

      </nb-card-footer>
    </nb-card>



  </form>
</div>




