

<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3"  (click)="NavToList()" href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head" > Ajouter User</mat-card-title>
      </div>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="addUser" [formGroup]="userForm">
      <nb-card>

        <nb-card-body>
          <div class="text-left">
            <div class="col-4 d-inline-block">


              <div>
                <mat-form-field>
                  <input matInput  formControlName="username" required placeholder="Username">
                  <mat-error *ngIf="username.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput type="password"  formControlName="password" required placeholder="Mot passe">
                  <mat-error *ngIf="password.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>



              <div>
                <mat-form-field>
                  <input matInput  formControlName="firstname" required placeholder="nom">
                  <mat-error *ngIf="firstname.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  formControlName="lastname" required placeholder="prenom">
                  <mat-error *ngIf="lastname.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required placeholder="Email">

                  <mat-error *ngIf="userForm.get('email').hasError('required')"
                  >format email doit etre valid </mat-error
                  >

                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput type="number"  formControlName="usertel" required placeholder="Telephone">
                  <mat-error *ngIf="usertel.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input matInput  formControlName="useradresse" required placeholder="Addresse">
                  <mat-error *ngIf="useradresse.invalid">{{formErrors.required}}</mat-error>

                </mat-form-field>
              </div>





              <div>
                <mat-form-field>
                  <mat-label> Utilisateur </mat-label>
                  <mat-select  (selectionChange)="RoleSelected($event)" >
                    <mat-option *ngFor="let role of this.listRole"  [value]="role" >
                      {{role}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>




            </div>
          </div>



        </nb-card-body>


        <nb-card-footer>
          <div class="text-left">
            <button mat-raised-button  class=" m-2" color="warn">Enregistrer</button>

            <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>
          </div>

        </nb-card-footer>
      </nb-card>



    </form>
  </mat-card>
</div>
