

<div class="container-fluid">
  <mat-card>
    <mat-card-header>

      <div>
        <mat-card-title class="head"> S'inscrire</mat-card-title>
      </div>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="addCandidat">
      <nb-card>

        <nb-card-body>




                <div >
                <mat-form-field>
                  <input matInput  formControlName="nom" required placeholder="Nom">
                </mat-form-field>
              </div>



                <div >
                <mat-form-field>
                  <input matInput  formControlName="prenom" required placeholder="Prénom">
                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput  formControlName="email" required placeholder="email">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  formControlName="password" required placeholder="Password">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  formControlName="tel" required placeholder="Télephone">
                </mat-form-field>
              </div>



              <div>
                <mat-form-field>
                  <input matInput  formControlName="ecole" required placeholder="ecole">
                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput  formControlName="experience" required placeholder="Expérience">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  formControlName="niveau" required placeholder="Niveau">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  formControlName="profil" required placeholder="Profil">
                </mat-form-field>
              </div>


              <div>
              <mat-form-field class="input-width" >
                <input matInput  formControlName="dateDebot"  [min]="today" [matDatepicker]="picker1" placeholder="Date de Débot de test">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

            </div>


        </nb-card-body>


        <nb-card-footer>
          <div class="text-left">
            <button mat-raised-button  class=" m-2" color="warn">Enregistrer</button>

            <button mat-raised-button  class=" m-2" color="primary">Annuler</button>
          </div>

        </nb-card-footer>
      </nb-card>



    </form>

  </mat-card>
</div>
